* {
    box-sizing: border-box;
    background-color: #0e0e0e;
    color: #eeeeee;
    font-family: 'Helvetica', sans-serif;
    font-size: 20spx;
}
div {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #f0f0f0;
    padding: 10px;
}
a {
    color: #2857ad;
    background-color: #f0f0f0;
}
img {
    width: 480px;
    padding: 10px;
}
h1,h2 {
    text-align: center;
    font-size: 30px;
    color: #2892ad;
}
p,ul,ol,li,em{
    color: #0e0e0e;
    background-color: #f0f0f0;
}